
%header.post-header
  %h2
    = link_to_unless_current post.title, post
    - unless post.published?
      %span.label.label-info{ title: "Will be published at: #{l(post.published_at, format: :short)}" }
        Unpublished
    - if can?(:edit, post)
      %span.label.label-transparent
        = link_to edit_post_path(post) do
          %i.icon-pencil
          edit post
  
  .subheader
    = link_to post do
      %time.pull-right{ datetime: post.created_at.iso8601 }
        / %span.year= post.created_at.strftime("%Y")
        = l(post.created_at.to_date, format: :fancy).html_safe
    %span.tags
      %i.icon-tag
      / %em tags &larr;
      = post.category
